.container{
    display: flex;
    background-color: #2c2c3c;
    justify-content: left;
    height: 50px;
}

.ey-logo {
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
  }

  .center {
    justify-content: center;
    text-align: center;
    background: whitesmoke;
    padding: 80px;
  } 

  h1 {
    font-weight: bold;
    font-size: 24px;
  }

  input {
    margin-top: 40px;
    width: 700px;
    border-radius: 10px;
    height: 20px;
    padding: 20px;
    margin-bottom: 40px;
  }

  .botoes {
    margin: 20px;
    padding: 40px;
  }

  button {
    margin-right: 20px;
    display: inline-block;
    color: white;
    background-color: #f7e111;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 40px;
    font-weight: 700;
  }


  
  .form-field {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }



  .footer {
    background-color: #34495e;
    padding: 10px;
    text-align: center;
  }
  
  .footer-text {
    font-weight: bold;
    color: white;
  }