.container {
  display: flex;
  margin-bottom: var(--size-40);
  background-color: #ebfffb;
  justify-content: left;
  height: 90px;
  }

  .everymind-logo {
    height: 70px;
    margin-top: 5px;
    margin-left: 35px;
  }
  

  .center {
    justify-content: center;
    text-align: center;
    background: whitesmoke;
    padding: 80px;
  } 

  h1 {
    font-weight: bold;
    font-size: 24px;
  }

  input {
    margin-top: 40px;
    width: 700px;
    border-radius: 10px;
    height: 20px;
    padding: 20px;
    margin-bottom: 40px;
  }

  .botoes {
    margin: 20px;
    padding: 40px;
  }

  button {
    margin-right: 20px;
    display: inline-block;
    color: white;
    background-color: #499adb;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100px;
    height: 40px;
    font-weight: 700;
  }


  
  .form-field {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }



  .footer {
    margin-top: 30px;
    background-color: #ebfffb;
    padding: var(--size-10);
    text-align: center;
  }
  
  .footer-text {
    font-weight: bold;
    color: black;
  }
  .candidato-container, 
  .candidato-container2,
  .candidato-container3,
  .candidato-container4{
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Distribui os elementos igualmente na linha */
    align-items: flex-start; /* Alinha os elementos no topo da linha */
  }


  .candidato-1,
  .candidato-2,
  .candidato-3,
  .candidato-4, 
  .candidato-5,
  .candidato-6,
  .candidato-7,
  .candidato-8 {
    width: calc(50% - 10px); /* Define a largura de cada candidato para ocupar metade da largura da linha, considerando alguma margem */
    margin-bottom: 20px; /* Adicione uma margem inferior para espaçamento entre os candidatos */
    padding: 20px;
    box-sizing: border-box; /* Garantir que o padding não afete a largura total */
  }


  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    /* Adicione a imagem de fundo aqui */
  }
  
  h3 {
    font-weight: bold;
    padding: 10px;
    color: #2c2c3c;;
  }

  p {
    padding: 10px;
  }

  li {
    padding: 10px;
  }
  
  main {
    padding: 20px;
  }
  
  .profile-section p {
    margin-top: 0;
  }
  
  .skills-section ul {
    list-style: none;
    padding: 0;
  }
  
  .experience-section h4 {
    margin: 10px 0;
  }
  
  .contact-section p {
    margin: 0;
  }

  .box {
    padding: 20px;
    margin: 10px;
    margin-bottom: -10px;
  }

