:host() {
    --size-10:10px;
    --size-20:20px;
    --size-40:40px;
}

.ey-logo {
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
}

.container{
    display: flex;
    justify-content: space-between; /* Isso cria espaço entre os elementos no contêiner */
    margin-bottom: 0px;
    background-color: #2c2c3c;
    height: 50px;
}

.login-signup ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0; /* Remove o espaço padrão nas listas */
}

.login-signup {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.button {
    width: 120px;
    text-align: center;
    border: 2px solid #f7e111;
    color: #f7e111;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 7px;
    padding: 3px;
    margin-top: 7px;
}

.login-button:hover, .signup-button:hover {
    background-color: #f7e111;
    color: #2c2c3c;
}
.promoting-inclusion {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    position: relative;
    padding: 20px 0;
    
}

.promoting-inclusion::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #2c2c3c;
}

.start-now-button {
    text-align: center;
    padding: 0; /* Ajusta o espaçamento do botão */
    margin-top: 50px;
}

.start-now-button button {
    color: #2c2c3c;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    cursor: pointer;
    background-color: #f7e111;
}

.center-button {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.box-1 {
    background: #2c2c3c;
    height: 400px;
}

.separator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid #fff;
    margin-top: -13.9vw;
}
