:host() {
    --size-10:10px;
    --size-20:20px;
    --size-40:40px;
}

.ey-logo {
    height: 30px;
    margin-top: 5px;
    margin-left: 15px;
}

.container{
    display: flex;
    justify-content: space-between; /* Isso cria espaço entre os elementos no contêiner */
    margin-bottom: 0px;
    background-color: #2c2c3c;
    height: 50px;
}

.login-signup ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0; /* Remove o espaço padrão nas listas */
    margin-right: 20px;
}

.login-signup {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.button {
    width: 120px;
    text-align: center;
    border: 2px solid #f7e111;
    color: #f7e111;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 7px;
    padding: 3px;
    margin-top: 7px;
}

.login-button:hover, .signup-button:hover {
    background-color: #f7e111;
    color: #2c2c3c;
}

.box-1 {
    background: #2c2c3c;
    height: 600px;
}

.diagonal-container {
    background-color: #2c2c3c; /* Cor de fundo para a área acima da linha diagonal */
    overflow: hidden; /* Esconde o conteúdo que excede a altura */
}

h2 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    text-shadow: 1px 5px 7px rgb(0 0 0);
}

.promoting-inclusion {
    padding: 70px;
    font-size: 60px;
    position: relative;
    
}

.start-now-button {
    text-align: center;
    padding: 0; /* Ajusta o espaçamento do botão */
    margin-top: 50px;
}

.start-now-button button {
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #f7e111;
    width: 250px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0px 0px 40px 20px rgba(0, 0, 0, 0.5);
}

.center-button {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.box-2{
    background: #fff;
}


.separator {
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid #fff;
    margin-top: -13.9vw;
}

.ey-institute {
    font-weight: bold;
    font-size: 50px;
}


